// Colors
$color-white: #fff;
$color-black: #000;
$color-gray: #E7E8E9;
$color-gray-light: #D2D2D2;
$color-gray-dark: #C4C4C4;
$color-orange: #FF8F3F;
$color-yellow: #FFE352;
//$color-red-light: rgb(#FF0000, 12);
$color-purple: #8F00FF;

// Sizes
$tablet: 1024px;
$large: 1440px;
$desktop: 1200px;
$mobile: 576px;

// Animation
$transition-base: all 0.25s ease-out;

// Fonts
$inter-400: 'Inter-Regular';
$inter-600: 'Inter-SemiBold';
$inter-700: 'Inter-Bold';