@import "helpers/vars";
@import "helpers/mixins";
@import "helpers/fonts";
@import "helpers/sprite";

html {
	font-family: $inter-400, Arial, serif;
	font-size: 16px;
	height: 100%;
}

body {
	height: 100%;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	overflow-x: hidden;
}

*,
*::before,
*::after { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: $color-black;
}

ol, ul {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.is-hidden {
	visibility: hidden;
	opacity: 0;
}

.is-visible {
	visibility: visible;
	opacity: 1;
}

.container {
	margin: 20px auto;
	width: 616px;
}

.title-page {
	margin-bottom: 20px;
	font-family: $inter-700;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

.main-info {
	margin-bottom: 40px;
	padding: 12px 18px;
	display: flex;
	background: $color-gray;
	border-radius: 4px;

	&__column {
		width: 100%;
	}

	&__block {
		&:last-child {
			margin-top: 20px;
		}
	}

	&__field {
		display: flex;
		flex-direction: row;
		font-size: 14px;
	}

	&__title {
		margin-right: 4px;
		font-weight: bold;
	}
}

.block {
	&__title {
		margin-bottom: 20px;
		font-size: 16px;
		font-weight: bold;
	}
}
